<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Cocktail{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block menu %}
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                            <li><a href="{{ path('compartment') }}">Réserve</a></li>
                            <li class="hidden-xs"><a href="{{ path('drink') }}">Boissons</a></li>
                            <li class="hidden-xs"><a href="{{ path('cocktail') }}">Cocktails</a></li>
                            <li class="hidden-xs"><a href="{{ path('consumption') }}">Consommation</a></li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
                {% javascripts '@AppBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        </div>
    </body>
</html>
