{% extends 'base.html.twig' %}

{% block body %}
    <section class="row">
    <h1>Cocktails:</h1>
    <button id="buttonFormAdd" class="btn btn-info">Ajouter</button>
    <div id="formAdd" class="novisible">
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    </section>
    <section class="row">
        {% for cocktail in cocktails %}
            <div class="col-xs-6 col-sm-4 col-md-3" >
                <div class="name">{{ cocktail.name }}</div>
                <div class="image">
                    <img src="{{ asset('bundles/app/images/'~cocktail.image.url) }}" alt="{{ cocktail.image.alt }}" />
                </div>
                <a href="{{ path('deleteCocktail', { 'id': cocktail.id }) }}">Supprimer</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}

