{% extends 'base.html.twig' %}

{% block body %}
    <section class="row">
    {% for cocktail in cocktails %}
        <div class="col-xs-6 col-sm-3 col-md-2 center">
           <a class="name" href="{{ path('showCocktail', { 'id': cocktail.id }) }}">{{ cocktail.name }}</a>
            <div class="imageAndText">
               <a href="{{ path('showCocktail', { 'id': cocktail.id }) }}">
                   <div class="image">
                       <img src="{{ asset('bundles/app/images/'~cocktail.image.url) }}" alt="{{ cocktail.image.alt }}" />
                   </div>
               </a>
               <div class="infoListCocktail left">
               {% for dose in cocktail.doses %}
                       <span class="pastille">- {{ dose.drink.name }} {{ dose.volume }} cl.</span><br>
               {% endfor %}
               </div>
            </div>
       </div>
    {% endfor %}
    </section>
{% endblock %}


