{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    {% for cocktail in cocktails %}
       <li>
           <div class="listCocktail">
               <a href="{{ path('showCocktail', { 'id': cocktail.id }) }}">
                   <h2>{{ cocktail.name }}</h2>
               </a>
               <a href="{{ path('showCocktail', { 'id': cocktail.id }) }}">
                   <div class="image">
                       <img src="{{ asset('bundles/app/images/'~cocktail.image) }}" alt="{{ cocktail.image }}" />
                   </div>
               </a>
               <div class="infoListCocktail">
               {% for dose in cocktail.doses %}
                       <span class="pastille">{{ dose.drink.name }}</span> {{ dose.volume }} cl.<br>
               {% endfor %}
               </div>
           </div>
       </li>
    {% endfor %}
    </ul>
{% endblock %}


