{% extends 'base.html.twig' %}

{% block body %}
<h1>Réserve</h1>
    <section class="row">
        {% for compartment in compartments %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                {% set percent = ((compartment.remainingVolume / compartment.volume)*100) |round %}
                <a href="{{ path('showReserve', { 'id': compartment.id }) }}">
                    <h2>{{ compartment.libelle }} : </h2>
                </a>
                {{ compartment.drink.name }} {{ compartment.remainingVolume }} cl<br>
                <div style="width: 200px; border:1px solid #000; margin-left: 0px;">
                    <div style="background-color:#FE3210; width:{{ percent }}%">{{ percent }}%</div s>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}


