{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ cocktail.name }}</h1>
    <section class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 center">
            {{ cocktail.description }}<br>
            {{ cocktail.cocktailTime }}
            <div class="image">
                <img src="{{ asset('bundles/app/images/'~cocktail.image.url) }}" alt="{{ cocktail.image.alt }}" />
            </div>
            <div class="infoListCocktail">
                {% for dose in cocktail.doses %}
                    {% if dose.remainingVolume is not null %}
                        <span class="pastille barre"><span class="pastille">{{ dose.drink.name }}</span> {{ dose.volume }} cl.<br></span>
                        <span class="pastille alert-warning"><span class="pastille">{{ dose.drink.name }}</span> {{ dose.remainingVolume }} cl.<br></span>
                    {% else %}
                        <span class="pastille">{{ dose.drink.name }}</span> {{ dose.volume }} cl.<br>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="well">
                <input type="hidden" value="{{ cocktail.id }}" id="idCocktail">
                <input type="button" class="btn btn-primary" value="Servir" id="makeCocktail">
            </div>
        </div>
    </section>
{% endblock %}


