{% extends 'base.html.twig' %}

{% block body %}
    <section class="row">
        <h1>Boissons:</h1>
        <button id="buttonFormAdd" class="btn btn-info">Ajouter</button>
        <div id="formAdd" class="novisible">
                {{ form_start(form, {'attr' : { 'class' : 'col-xs-12 col-sm-6 col-md-4 well'}}) }}
            <div class="form-group">
                {{ form_row(form.name, {'attr' : { 'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.viscosity, {'attr' : { 'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                <span class="btn btn-default btn-file">
                    {{ form_row(form.image, {'attr' : { 'class' : 'form-control'}}) }}
                </span>
            </div>
                {{ form_widget(form.save, {'attr' : { 'class' : 'btn btn-primary'}}) }}
                {{ form_end(form) }}
        </div>
    </section>
    <section class="row">
        {% for drink in drinks %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <h3>{{ drink.name }}</h3>
                <div class="image">
                    <img class="max-image" src="{{ asset('bundles/app/images/'~drink.image.url) }}" alt="{{ drink.image.alt }}" />
                </div>
                <a href="{{ path('deleteDrink', { 'id': drink.id }) }}">Supprimer</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}


