{% extends 'base.html.twig' %}

{% block body %}
<h1 xmlns="http://www.w3.org/1999/html">Réserve</h1>
    <section class="row">
        {% for compartment in compartments %}
            <div class="col-xs-4 col-sm-3 col-md-2 center">
                {% set percent = ((compartment.remainingVolume / compartment.volume)*100) |round %}

                {% set color = 'black' %}
                {% if percent <= 40 %}
                    {% set color = '#fe9820' %}
                {% endif %}
                {% if percent <= 20 %}
                    {% set color = '#fe3320' %}
                {% endif %}


                <a href="{{ path('showCompartment', { 'id': compartment.id }) }}">
                    <span style="color:{{ color }}">{{ compartment.libelle }} :<br>
                    {{ compartment.drink.name }}<br></span>
                </a>

                {% if percent > 40 %}
                    {% set color = '#0bfe08' %}
                {% endif %}
                <div class="blockCompartment" >
                    <img class="imgCompartment" src="{{ asset('bundles/app/images/bouteille.png') }}" />
                    <div class ="percentDrink" style="background-color:{{ color }}; height:{{ percent }}%;"></div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}


